
/* Body Styling */
body {
    font-family: 'Georgia', serif;
    background-color: #fafafa;
    max-width: 900px;
    padding: 10px;
    margin: auto;
}

/* Headings */
h1,
h2 {
    color: #AA336A;
    text-align: center;
}

/* Category Images */
.cat {
    margin: 20px auto;
    width: 150px;
}

/* Navigation */
nav {
    background-color: #AA336A;
    padding: 5px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 50px;
}

/* Flexbox for aligning items */
div.flex {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}

div.flex img {
    max-width: 200px;
    width: 80%;
}

/* Footer */
div#footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: smaller;
}
