/* Body Styling */
body {
    font-family: 'Georgia', serif;
    background-color: #fafafa;
    max-width: 900px;
    padding: 15px;
    margin: auto;
}

h1, h2 {
    color: #AA336A;
    text-align: center;
}
.cat {

    margin: 20px auto;
    width: 150px;
}
nav {
    background-color: #AA336A;
    padding: 5px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 50px;

}
div.flex {display: flex;
    justify-content:space-evenly;
    width:60vw;

}

div.flex img {
    max-width:200px;
    width:80%;}

div#footer {
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-evenly;
    font-size: smaller;
}


